* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #a5a5a5;
}

input {
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::before, .clearfix::after {
  content: '';
  visibility: hidden;
  display: block;
  clear: both;
  line-height: 0;
}

.clearfix {
  zoom: 1;
}
