<!DOCTYPE html>
<html lang="en">
<!--http://m.manmanbuy.com/慢慢买官网-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>慢慢买</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="app">
            <!--头部-->
            <header class="clearfix">
                <div class="header-logo fl">
                    <a href="index.html">
                        <img src="images/header_logo.png" alt="头部logo">
                    </a>
                </div>
                <div class="download fr">
                    <a href="http://m.manmanbuy.com/?o=download">
                        <img src="images/header_app.png" alt="app下载">
                    </a>
                </div>
            </header>
            <!--搜索栏-->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入你想要的宝物..">
                <span class="input-group-addon">搜索</span>
            </div>
            <!--导航-->
        </div>
    </div>
    <nav>
        <ul></ul>
    </nav>
    <div class="goods">
        <div class="content-top">
            <div class="top-banner-rec">
                <span>超值折扣推荐</span><span>></span></div>
        </div>
    </div>
    <!--<ul class="banner">
        <li>
            <div class="left">
                <a href="javascript:void(0)"><img src="img/apple.jpg" alt=""></a>
            </div>
            <div class="right">
                <div class="intro">移动端凑单品：海天 鲜味 生抽 1.28L<span>10元</span></div>
                <p>京东商城 | 10-25 14:10<i></i><span>1</span></p>
            </div>
        </li>
        <li>
            <div class="left">
                <a href="javascript:void(0)"><img src="img/apple.jpg" alt=""></a>
            </div>
            <div class="right">
                <div class="intro">移动端凑单品：海天 鲜味 生抽 1.28L<span>10元</span></div>
                <p>京东商城 | 10-25 14:10<i></i><span>1</span></p>
            </div>
        </li>
        <li>
            <div class="left">
                <a href="javascript:void(0)"><img src="img/apple.jpg" alt=""></a>
            </div>
            <div class="right">
                <div class="intro">移动端凑单品：海天 鲜味 生抽 1.28L<span>10元</span></div>
                <p>京东商城 | 10-25 14:10<i></i><span>1</span></p>
            </div>
        </li>
        <li>
            <div class="left">
                <a href="javascript:void(0)"><img src="img/apple.jpg" alt=""></a>
            </div>
            <div class="right">
                <div class="intro">移动端凑单品：海天 鲜味 生抽 1.28L<span>10元</span></div>
                <p>京东商城 | 10-25 14:10<i></i><span>1</span></p>
            </div>
        </li>
        <li>
            <div class="left">
                <a href="javascript:void(0)"><img src="img/apple.jpg" alt=""></a>
            </div>
            <div class="right">
                <div class="intro">移动端凑单品：海天 鲜味 生抽 1.28L<span>10元</span></div>
                <p>京东商城 | 10-25 14:10<i></i><span>1</span></p>
            </div>
        </li>
        <li>
            <div class="left">
                <a href="javascript:void(0)"><img src="img/apple.jpg" alt=""></a>
            </div>
            <div class="right">
                <div class="intro">移动端凑单品：海天 鲜味 生抽 1.28L<span>10元</span></div>

                <p> 京东商城 | 10-25 14:10<i></i></span>1</span>
                </p>
            </div>
        </li>
        <div class="more-profits">更多优惠信息>></div>
    </ul>-->
    <ul class="banner"></ul>
    <div class="brand-head">
        <h3>品牌排行<span class="fr">></span></h3>
    </div>
    <div class="foot-top">
        <a href="javascript:void(0)">登陆</a>
        <a href="javascript:void(0)">注册</a>
        <a href="javascript:void(0)">
            <img src="images/top.jpg" alt="">返回顶部
        </a>
    </div>
    <footer>
        <p>
            <a href="javascript:void(0)">手机App下载</a>
            <a href="javascript:void(0)">慢慢买手机版--比价平台</a>
        </p>
        <p><a href="javascript:void(0)">m.manmanbuy.com</a></p>
    </footer>
    <div class="app-download">
        <a href="javascript:void(0)"><img src="images/app-download.png" alt=""></a>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="lib/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/template.js"></script>
</body>

</html>
<script type='text/javascript' src="js/index.js"></script>
<!--首页模板8个banner页-->
<script type='text/template' id="banner-template">
    {{each result}}{{if $index
    <7}} <li>
        <a href="{{$value.titlehref}}">
            {{#$value.img}}
            <p>{{$value.name}}</p>
        </a>
        </li>
        {{else if $index==7}}
        <li class='more'>
            <a href="{{$value.titlehref}}">
            {{#$value.img}}
            <p>{{$value.name}}</p>
        </a>
        </li>
        {{/if}} {{/each}}
</script>
<!--点击更多模板-->
<script type='text/template' id="banner-more-template">
    {{each result}}{{if $index
    <12 && $index>7}} <li class="click-more">
        <a href="{{$value.titlehref}}" >
            {{#$value.img}}
            <p>{{$value.name}}</p>
        </a>
        </li>
        {{/if}} {{/each}}
</script>
<script type='text/template' id="template-coudanping">
    {{each result}}
    <li>
        <div class="left">
            <a href="javascript:void(0)">{{#$value.productImgSm}}</a>
        </div>
        <div class="right">
            <div class="intro">{{$value.productName}}<span>{{$value.productPinkage
}}</span></div>
            <p>{{$value.productFrom}}| {{$value.productTime}}<i></i></p>
        </div>
    </li>
    {{/each}}
</script>